<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Registrar</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-item> 
  <ion-input  [(ngModel)]="email" label="cree usuario" label="Email:" type="email" placeholder=""></ion-input>
</ion-item>
<ion-item> 
  <ion-input  [(ngModel)]="password" label="Ingrese clave" type="password" placeholder=""></ion-input>
</ion-item>
  <ion-item> 
    <ion-input  [(ngModel)]="nombre" label="Ingrese nombre"  value=""></ion-input>
  </ion-item>
  <ion-item> 
    <ion-input  [(ngModel)]="telefono" label="Ingrese telefono"  value=""></ion-input>
  </ion-item>
  <ion-item> 
    <ion-input  type="file" (change)="onFileChange($event)"></ion-input>
  </ion-item>

    <ion-button (click)="registro()" size="default">registrar</ion-button>

<ion-grid [fixed]="true">
  <ion-row>
    <ion-col>
      <div class="login-page"> </div>
    </ion-col>
    </ion-row>
  </ion-grid>